@mixin button {
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    height: 50px;
    width: 300px;
    color: white;
    font-family: 'Montserrat';
    font-size: 22px;
    text-align: center;
    justify-self: center;
}

.home {
    display: grid;
    justify-items: center;
    grid-template-rows: [header-s] 218px [header-e card-s] minmax(736px, 994px) [card-e];
    position: relative;
    background-color: rgba(207,207,207,0.06);
}

.header {
    display: grid;
    align-self: center;
    height: 100px;
    font-family:'Montserrat';
    color: white;
    text-align: center;
    &__skew{
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);
        clip-path: plygon(0 0, 1005 0%, 1005 25%, 0 50%);
        z-index: -10;
        top: 0;
        left: 0;
        position: absolute;
        height: 1000px;
        width: 100vw;
        background-color: #444444;
    }
    &__border{
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);
        clip-path: plygon(0 0, 1005 0%, 1005 25%, 0 50%);
        z-index: -11;
        top: 20px;
        left: 0;
        position: absolute;
        height: 1000px;
        width: 100vw;
        background-color: #00cb79;
    }   
   
    h1{
        font-size: 36px;
        font-weight: 500;
        line-height: 44px;

    }

    p{
        color: rgba(255, 255, 255, 0.75);
        font-size: 15px;
        font-weight: 300;
        line-height: 19px;
        width: 490px;
    }
}

.card {
    height: 736px;
    width: 1240px;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,0.06);
    border-radius: 7px;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 50px 80px;


    &__inputs {
        display: grid;
        grid-template-rows: repeat(4, 27px);
        grid-template-columns: repeat(4, 1fr);
        row-gap: 120px;
        justify-items: center;
        align-items: center;
        margin-top: 66px;
        margin-left: 83px;
        margin-right: 83px;
    }

    button:focus {
        outline: none;
    }

    &__generate{
        background-color: #00CB79;
        @include button;
    }

    &__clear{
        background-color: #45B0E5;
        @include button;
    }
}

.input {
    display: grid;
    column-gap: 8px;
    grid-template-rows: repeat (3, 1fr);
    grid-template-columns: [number-s] 26px [number-e  input-s] 1fr [input-e];
    font-family:'Montserrat';
    text-align: center;
    height: 47px;
    &__title {
        grid-column: input-s/input-e;
        color: #b3b3b3;
        font-size: 12px;
        font-weight: 300;
    }

    input{
        grid-column: input-s/input-e;
        border: none;
        font-size: 15px;
        text-align: center;
        padding: 4px 0;
        border-bottom: 1px solid #B3B3B3;
        
        &:focus {
            outline: none;
            border-bottom: 1px solid #00CB79;
        }
        // width: 190px;
        // height: 40px;
        // box-shadow: 
    }

    &__number{
        grid-column: number-s/number-e;
        background-color: #00cb79;
        color: white;
        font-size: 20px;
        height: 26px;
        width: 26px;
        padding-top: 2px;
        border-radius: 50%;
    }
}